html *,
body *{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}

.clear{
	clear:both;
}

#wrap{
	width:1200px;
	margin:0 auto;
}

#header{
	padding:10px;
	background-color:#22c;
	color:#f6f6f6;
}

#footer{
	padding:0 10px;
	background-color:#22c;
}

#content-left{
	float:left;
	width:200px;
	padding:10px;
	height:600px;
	overflow-y:scroll;
}

#content-right{
	float:left;
	width:960px;
	height:600px;
	padding:10px;
}

#map-container{
	height:100%;
}

/* Category Filter List*/
#category-filter ul{
	float:left;
	list-style:none;
	width:100%;
	margin:5px 0;
}

#category-filter li{
	float:left;
	padding:10px 30px;
	margin-right:5px;
	background-color:#22c;
	color:#f6f6f6;
}
#category-filter li.active,
#category-filter li.active:hover{
	background-color:#2c2;
}
#category-filter li:hover{
	background-color:#33d;
	cursor:pointer;
}

/*Location List*/
#location-list{
	position:relative;
	list-style:none;
}

#location-list li{
	padding:2px 5px;
	background-color:#f6f6ff;
	cursor:pointer;
}
#location-list li:nth-child(odd){
	background-color:#e6e6ff;
}
#location-list li:hover{
	background-color:#bbe;
}

#location-list li.active{
	background-color:#beb;	
}

/**/

.info-window{
	
}

.info-window-header{
	
}
.info-window-date{
	
}
.info-window-description{
	
}
.info-window-exact-location{
	
}